<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="amazon_testcase.SearchToCart_Tcase"/>
      <class name="amazon_testcase.WishlistToCheckout_Tcase"/>
      <class name="amazon_testcase.SearchToCheckPrice_Tcase"/>
      <class name="amazon_testcase.SearchToWishlist_Tcase"/>
      <class name="amazon_testcase.LoginToAdd4Product_Tcase"/>
      <class name="amazon_testcase.SearchToAddNewAddress_Tcase"/>
      <class name="amazon_testcase.SelectToRemove_Tcase"/>
      <class name="amazon_testcase.WithoutLoginToCheckout_Tcase"/>
      <class name="amazon_testcase.SelectToDiffrentLink_Tcase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
